@model SurplusPrototype.Models.SurplusRequest

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SurplusRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemCondition.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemCondition.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityDescription.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityDescription.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VTBarcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VTBarcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountingFund)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountingFund)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Building)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FloorLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloorLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorizerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorizerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalDetails)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
