@model SurplusPrototype.Models.SurplusRequest

@{
    ViewBag.Title = "Details";
}

<div class="row hidden-print">
    <div class="col-md-12">
        <h2>You're not finished!</h2>
        <p>
            To complete this Surplus Property order, you must:

            <ol>
                <li>
                    Print the form.
                </li>
                <li>
                    Obtain the department head or authorized signatory signature.
                </li>
                <li>
                    Mail the form to Surplus Property (Mail Code: 0359).
                </li>
            </ol>
        </p>

        <p>
            <input type="button" class="btn btn-default" value="Print form" onclick="window.print()" />
            <noscript>
                JavaScript is not enabled in your browser. Select print from your browser window.
            </noscript>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Surplus request #@Html.DisplayFor(model => model.Id)
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <label>@Html.DisplayNameFor(model => model.Description)</label>
        <span>@Html.DisplayFor(model => model.Description)</span>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <label>@Html.DisplayNameFor(model => model.VTBarcode)</label>
        <span>@Html.DisplayFor(model => model.VTBarcode)</span>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <label>@Html.DisplayNameFor(model => model.Manufacturer)</label>
        <span>@Html.DisplayFor(model => model.Manufacturer)</span>
    </div>

    <div class="col-xs-4">
        <label>@Html.DisplayNameFor(model => model.Model)</label>
        <span>@Html.DisplayFor(model => model.Model)</span>
    </div>

    <div class="col-xs-4">
        <label>@Html.DisplayNameFor(model => model.Quantity)</label>
        <span>@Html.DisplayFor(model => model.Quantity) (@Html.DisplayFor(model => model.QuantityDescription.Name))</span>
    </div>
</div>

<div class="row">
    <div class="col-xs-3">
        <label>@Html.DisplayNameFor(model => model.SerialNumber)</label>
        <span>@Html.DisplayFor(model => model.SerialNumber)</span>
    </div>

    <div class="col-xs-3">
        <label>@Html.DisplayNameFor(model => model.EstimatedValue)</label>
        <span>@Html.DisplayFor(model => model.EstimatedValue)</span>
    </div>

    <div class="col-xs-6">
        <label>@Html.DisplayNameFor(model => model.ItemCondition.Name)</label>
        <span>@Html.DisplayFor(model => model.ItemCondition.Name)</span>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <label>@Html.DisplayNameFor(model => model.DepartmentNumber)</label>
        <span>@Html.DisplayFor(model => model.DepartmentNumber)</span>
    </div>

    <div class="col-xs-3">
        <label>@Html.DisplayNameFor(model => model.MailCode)</label>
        <span>@Html.DisplayFor(model => model.MailCode)</span>
    </div>

    <div class="col-xs-3">
        <label>@Html.DisplayNameFor(model => model.AccountingFund)</label>
        <span>@Html.DisplayFor(model => model.AccountingFund)</span>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <label>@Html.DisplayNameFor(model => model.Building)</label>
        <span>@Html.DisplayFor(model => model.FloorLevel) @Html.DisplayFor(model => model.Building)</span>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <label>@Html.DisplayNameFor(model => model.ContactName)</label>
        <span>@Html.DisplayFor(model => model.ContactName)</span>
    </div>

    <div class="col-xs-6">
        <label>@Html.DisplayNameFor(model => model.ContactPhone)</label>
        <span>@Html.DisplayFor(model => model.ContactPhone)</span>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <label>@Html.DisplayNameFor(model => model.AuthorizerName)</label>
        <span>@Html.DisplayFor(model => model.AuthorizerName)</span>
    </div>
</div>

<div class="row">
    <div class="col-xs-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Signature</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Date</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>

<div class="row hidden-print">
    <div class="col-xs-12">
        @Html.ActionLink("Create another request", "Create")
    </div>
</div>
